<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>My Travel Planner</title>
  </head>
  <body>
    <!-- <h1>Test html</h1> -->
    <header class="app-header">
      <h1 class="app-title">My Travel Planner</h1>
    </header>

    <section class="main-section-grid">
      <div class="destination-image">
        <!-- <div class="img-card"> -->
        <img src="" alt="trip image" id="city-image" class="city-image" />
        <!-- </div> -->
      </div>
      <div class="destination-info">
        <div class="destination-input">
          <label>Where do you want to go?</label>
          <input
            id="destination"
            type="text"
            placeholder="Enter Your Destination"
          />
        </div>
        <div class="trip-date-input">
          <label>When do you want to go? </label>
          <input id="trip-date" type="text" placeholder="Enter your Date" />
        </div>
        <div class="destination-btns">
          <button id="save-trip">Save Your Trip</button>
          <button id="delete-trip">Cancel Your Trip</button>
        </div>
      </div>
      <div id="display-info" class="destination-info-display"></div>
    </section>
  </body>
</html>
