<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>My Travel Planner</title>
  </head>
  <body>
    <!-- <h1>Test html</h1> -->
    <!-- introduction section -->
    <header class="app-header" id="app-header">
      <h1 class="app-title">My Travel Planner</h1>
    </header>
    <section class="full-height intro-section" id="intro-section">
      <div class="intro-container">
        <div class="img-intro-container">
          <img src="" alt="" id="img-intro" class="img-intro" />
        </div>
        <div class="btns-container">
          <button class="btn btn-intro" id="find-destination-btn">
            Check Next Destination
          </button>
          <button class="btn all-trips btn-intro">Display All Trips</button>
        </div>
      </div>
    </section>

    <!-- find destination section -->
    <section class="main-section full-height" id="find-destination">
      <div class="destination-info">
        <div class="destination-input input-group">
          <label>Where do you want to go?</label>
          <input
            id="destination-country"
            class="input-data"
            type="text"
            placeholder="Enter Your Destination Country"
          />
          <input
            id="destination-city"
            class="input-data"
            type="text"
            placeholder="Enter Your Destination City"
          />
        </div>
        <div class="trip-date-input input-group">
          <label>When do you want to go? </label>
          <input
            id="trip-date"
            class="input-data"
            type="text"
            placeholder="Enter your Date: dd/mm/yyyy"
          />
        </div>
        <div class="destination-btns">
          <button id="show-trip" class="btn addWidth removeMargin">
            Show Next Trip
          </button>
          <button
            id="all-trips"
            class="btn all-trips addMargin addWidth removeMargin"
          >
            Display All Trips
          </button>
        </div>
      </div>
      <!-- display fetched data from apis -->
      <div id="display-info" class="destination-info-display">
        <h1>Your Journey Starts Here..</h1>
      </div>
    </section>
    <!-- Saved trips in from local storage -->

    <div class="hide" id="scheduled-trips">
      <h2>Your Scheduled Trips</h2>
      <button class="btn btn-hide" id="hide-all-trips">Hide all Trips</button>
    </div>
    <section class="trips-grid" id="trips-grid"></section>
    <script>
      // Check that service workers are supported
      // don't forget to require it in webpack.prod and to list it in plugin list
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
