html,
body {
  height: 100%;
  margin: 0;
  background: lightblue;
}
section {
  height: 100vh;
}
section:nth-child(1) {
  overflow: auto;
}
section:nth-child(2) {
  overflow: auto;
}
section:nth-child(3) {
  height: auto;
}
section:nth-child(4) {
  height: auto;
}
.intro-container {
  margin-top: 100px;
  display: flex;
}
.img-intro-container {
  width: 50%;
  padding-left: 50px;
}
.btns-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img-intro {
  width: 100%;
}

.btn {
  padding: 10px 30px;
  font: italic 600 16px "segoe ui";
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: white;
}

.btn:hover {
  background-color: #1b6e34;
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}
