html,
body {
  height: 100%;
  margin: 0;
  background: lightblue;
}
.full-height {
  height: 100vh;
}
.full-height:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-height:nth-child(2) {
  display: flex;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-intro-container {
  width: 50%;
  padding-left: 30px;
}
.btns-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img-intro {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  font: italic 600 16px "segoe ui";
  border: none;
  border-radius: 5px;
  background-color: white;
}

.btn-delete {
  padding: 10px 20px;
  font: italic 600 16px "segoe ui";
  border: none;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #1b6e34;
  color: white;
}
.btn-delete:hover {
  background-color: darkred;
  color: white;
}
.hide {
  display: none;
}

.show {
  display: block;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 14px;
  font-weight: 400;
}

.btn-alert-message {
  width: 50px;
  cursor: pointer;
  padding: 5px;
}
