.main-section {
  display: flex;
  background-image: url("../media/images/bg.jpg");
  border: 2px solid green;
  background-size: 100% 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.destination-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
}
.destination-info-display {
  // border: solid 2px yellow;
  display: flex;
  flex-direction: column;
  // flex-wrap: nowrap;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
}

label {
  margin-bottom: 10px;
  font: italic 600 16px "segoe ui";
}
.input-data {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: white;
  margin-top: 5px;
}

.input-data:focus {
  outline: none;
}

.destination-btns {
  margin-top: 20px;
}

.results-btns {
  margin-top: 10px;
}
.destination-image {
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
}
.destination-image p {
  margin-bottom: 5px;
}
.img-card {
  width: 100%;
}

.city-image {
  width: 100%;
  height: 100%;
}
.add-margin {
  margin-top: 20px;
}
