* {
  margin: 0;
}
.app-header {
  background-image: linear-gradient(
    45deg,
    #bb66bb,
    #ffaa11,
    #ccaa55,
    #ddaa55,
    #44ee77
  );
  padding: 20px;
  display: flex;
  position: fixed;
  width: 100%;
}
