.trips-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 20px;
  padding: 30px;
  justify-items: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-div {
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
}
.img-card {
  width: 100%;
  height: 100%;
}

.scheduled-trips {
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.btn-hide {
  margin-bottom: 60px;
}
